---
// Import all components explicitly
import { Button } from "../../registry/button/button";
import Dropdown from "../../registry/dropdown/dropdown";
import ProgressBar from "../../registry/progress-bar/progress-bar";
import { Ratings } from "../../registry/ratings/ratings";
import { TextArea } from "../../registry/text-area/text-area";
import { TextInput } from "../../registry/text-input/text-input";
import { ReviewOverview } from "../../registry/review-overview/review-overview";
import { ReviewList } from "../../registry/review-list/review-list";
import { ReviewWrapper } from "./ReviewWrapper.tsx"

interface Props {
  componentName: string;
}

const { componentName } = Astro.props;
---

<div
  class="flex items-center justify-center h-full p-4 relative z-10 w-full overflow-clip"
>
  {
    componentName == "button@react" && (
      <Button className="skin-primary">Button</Button>
    )
  }
  {componentName == "dropdown@react" && <Dropdown client:load />}
  {
    componentName == "progress-bar@react" && (
      <ProgressBar className="skin-success" />
    )
  }
  {componentName == "ratings@react" && <Ratings className="skin-primary" />}
  {componentName == "text-area@react" && <TextArea />}
  {componentName == "text-input@react" && <TextInput />}
  {componentName == "review-overview@react" && <ReviewOverview averageRating={3.7} ratings={{1:40, 2:70, 3:400, 4:700, 5:1045}} />}
  {componentName == "review-list@react" && <ReviewList subtitle="Explore some of our customers reviews."/>}
  {componentName == "review@react" && <ReviewWrapper client:load />}
</div>