---
// Import all components explicitly
import { Button } from "../../registry/button/button";
import Dropdown from "../../registry/dropdown/dropdown";
import ProgressBar from "../../registry/progress-bar/progress-bar";
import { Ratings } from "../../registry/ratings/ratings";
import { TextArea } from "../../registry/text-area/text-area";
import { TextInput } from "../../registry/text-input/text-input";

interface Props {
  componentName: string;
}

const { componentName } = Astro.props;
---

<div
  class="flex items-center justify-center h-full p-4 relative z-10 w-full overflow-clip"
>
  {componentName == "button@react" && <Button />}
  {componentName == "dropdown@react" && <Dropdown client:load />}
  {componentName == "progress-bar@react" && <ProgressBar />}
  {componentName == "ratings@react" && <Ratings />}
  {componentName == "text-area@react" && <TextArea />}
  {componentName == "text-input@react" && <TextInput />}
</div>
