---
// Import all components explicitly
import { Button } from "../../registry/button/button";
import Dropdown from "../../registry/dropdown/dropdown";
import ProgressBar from "../../registry/progress-bar/progress-bar";
import { Ratings } from "../../registry/ratings/ratings";
import TextArea from "../../registry/text-area/text-area";
import TextInput from "../../registry/text-input/text-input";
import Form from "../../registry/form/form";
import ReviewForm from "../../registry/review-form/review-form";
import RatingInput from "@registry/rating-input/rating-input";

interface Props {
  componentName: string;
}

const { componentName } = Astro.props;
---

<div
  class="flex items-center justify-center h-full p-4 relative z-10 w-full overflow-clip"
>
  {
    componentName == "button@react" && (
      <Button className="skin-primary">Button</Button>
    )
  }
  {
    componentName == "dropdown@react" && (
      <Dropdown
        client:load
        label="Select an option"
        placeholder="Choose an option"
        helperText="Select from the list"
        errorMessage="An option is required"
        noOptionsMessage="No matching options"
        searchPlaceholder="Search options..."
        enableSearch={true}
        options={[
          "Option 1",
          "Option 2",
          "Option 3",
          "Option 4",
          "Option 5",
          "Option 6",
          "Option 7",
          "Option 8",
          "Option 9",
          "Option 10",
        ]}
      />
    )
  }
  {
    componentName == "progress-bar@react" && (
      <ProgressBar className="skin-success" />
    )
  }
  {componentName == "ratings@react" && <Ratings className="skin-primary" />}
  {
    componentName == "text-area@react" && (
      <TextArea
        label="Feedback"
        placeholder="Enter your message here"
        helperText="Please provide your feedback"
        errorMessage="Feedback is required"
      />
    )
  }
  {
    componentName == "text-input@react" && (
      <TextInput
        label="Username"
        placeholder="Enter your username"
        helperText="Enter a unique username"
        errorMessage="Username is required"
      />
    )
  }
  {
    componentName == "form@react" && (
      <Form
        title="Form Title"
        description="This is a form wrapper"
        submitText="Submit Form"
        submittedText="Form Submitted Successfully!"
        onSubmit={() => {}}
        client:load
      />
    )
  }
  {componentName == "review-form@react" && <ReviewForm client:load />}
  {
    componentName == "rating-input@react" && (
      <RatingInput
        label="Rate your experience"
        placeholder="Select a rating"
        helperText="Rate from 1 to 5"
        errorMessage="Rating is required"
        defaultValue={3}
      />
    )
  }
</div>
